.detail-laporan-project {
    margin-top: 20px;
    margin-left: 20px;

    h2 {
        font-size: 20px;
        font-weight: bold;
        text-align: initial;
    }

    .col-md-6 {
        .card {
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 20px;

            .card-detail {
                table {
                    td {
                        width: 50%;

                        p {
                            text-align: justify;
                            font-size: 14px;
                        }
                    }
                }

            }

            .card-detail2 {
                border-radius: 10px;

                th {
                    background-color: #144272;
                    text-align: justify;
                    color: #fff;
                }

                td {
                    text-align: justify;
                    font-size: 14px;

                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
        }
    }
}
