.edit-return-dana{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;


    button[type=submit] {
        padding: 10px 20px;
        background-color: #144272;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
        width: 150px;
        height: 40px;
        justify-items: flex-end;
    }

    button#cancel-button {
        background-color: red;

        &:hover {
            background-color: darkred;
        }
    }

    button#next-button {
        background-color: #144272
        ;

        &:hover {
            background-color: #132435;
        }
    }
    h2 {
        font-size: 20px;
        font-weight: bold;
        text-align: initial;
        margin-bottom: 20px;
    }

    p {
        text-align: justify;
        font-size: 14px;
    }

    label {
        font-size: 16px;
    }
}