.edit-laporan-proyek{
    padding-top: 30px;
    h2 {
        font-size: 20px;
        font-weight: bold;
        text-align: initial;
    }

    p {
        text-align: justify;
        font-size: 14px;
    }

    label {
        font-size: 16px;
    }

    button#cancel-button {
        background-color: red;

        &:hover {
            background-color: darkred;
        }
    }

    button#next-button {
        background-color: #144272
        ;

        &:hover {
            background-color: #132435;
        }
    }
}