.edit-project {
    padding-top: 30px;

    button[type=submit] {
        padding: 10px 20px;
        margin-top: 15px;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        height: 40px;
        width: 100%;
    }

    a {
        margin-right: 10px;

        button#cancel-button {
            background-color: red;


            &:hover {
                background-color: darkred;
            }
        }

        button#next-button {
            background-color: $color_4;

            &:hover {
                background-color: $color_11;
            }
        }
    }

    .card {

        margin-left: 10px;
        margin-right: 10px;

        td {
            width: 50%;
        }

        header {
            padding-top: 10px;
            padding-bottom: 10px;

            h3 {
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }
        }


    }
}
