$color_1: #8D8D8D;
$color_2: #1775F1;
$color_3: #D0E4FF;
$color_4: #144272;
$color_5: #fff;
$color_6: #FC3B56;
$color_7: #81D43A;
$color_8: #E3FFCB;
$color_9: #000;
$color_10:#F1F0F6;

html {
    overflow-x: hidden;

    body{
        background-color: rgba(223, 232, 253, 1);
        min-height: 100vh;
        overflow-x: hidden;
        font-family: "Plus Jakarta Sans", sans-serif;
    }

    a {
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }
}