.project-saya {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    h2 {
        font-size: 24px;
        font-weight: bold;
        text-align: initial;
    }

    .card {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        margin-top: 20px;

        .card-body {
            border-radius: 10px;

            th {
                background-color: #144272;
                text-align: justify;
                color: #fff;
            }

            td {
                text-align: justify;
                font-size: 14px;

                a{
                    text-decoration: none;
                }
            }
        }
    }
}
