html {
  overflow-x: hidden;
}
html body {
  background-color: rgb(223, 232, 253);
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Plus Jakarta Sans", sans-serif;
}
html a {
  text-decoration: none;
}
html li {
  list-style: none;
}

/* NAVBAR START */
.nav2 {
  background: #fff;
  height: 64px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  grid-gap: 28px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
.nav2 .toggle-sidebar {
  font-size: 18px;
  cursor: pointer;
}
.nav2 form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}
.nav2 form .form-group {
  position: relative;
}
.nav2 form .form-group input {
  width: 100%;
  background: #F1F0F6;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px 36px 10px 16px;
  transition: all 0.3s ease;
}
.nav2 form .form-group input:focus {
  box-shadow: 0 0 0 1px #F1F0F6, 0 0 0 4px #D0E4FF;
}
.nav2 form .form-group .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  color: #000;
}
.nav2 .nav-link {
  position: relative;
}
.nav2 .nav-link .icon {
  font-size: 18px;
  color: #1775F1;
}
.nav2 .nav-link .badge {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #FC3B56;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D0E4FF;
  font-size: 10px;
  font-weight: 700;
}
.nav2 .divider {
  width: 1px;
  background: #F1F0F6;
  height: 12px;
  display: block;
}
.nav2 .profile {
  position: relative;
}
.nav2 .profile img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.nav2 .profile .profile-link {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background: #fff;
  padding: 10px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 160px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.nav2 .profile .profile-link a {
  padding: 10px 16px;
  display: flex;
  grid-gap: 10px;
  font-size: 14px;
  color: #1775F1;
  align-items: center;
  transition: all 0.3s ease;
}
.nav2 .profile .profile-link a:hover {
  background: #F1F0F6;
}
.nav2 .profile .profile-link.show {
  opacity: 1;
  pointer-events: visible;
  top: 100%;
}

.profile-page .form-control:focus {
  box-shadow: none;
  border-color: blue;
}
.profile-page .profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none;
}
.profile-page .profile-button:hover {
  background: #682773;
}
.profile-page .profile-button:focus {
  background: #682773;
  box-shadow: none;
}
.profile-page .profile-button:active {
  background: #682773;
  box-shadow: none;
}
.profile-page .back:hover {
  color: #682773;
  cursor: pointer;
}
.profile-page h4 {
  font-size: 20px;
  font-weight: bold;
}
.profile-page label {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.profile-page .add-experience:hover {
  background: #BA68C8;
  color: #1775F1;
  cursor: pointer;
  border: solid 1px #BA68C8;
}

.success {
  display: flex;
  margin: 0;
  padding: 0;
}
.success .card {
  justify-content: center;
  margin-top: 25px;
}
.success .card .card-body header img {
  align-items: start;
}
.success .card .card-body main {
  text-align: center;
  align-items: center;
}
.success .card .card-body main img {
  padding-bottom: 20px;
}
.success .card .card-body main h2 {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
}
.success .card .card-body main h2 p {
  font-size: 20px;
  font-weight: bold;
}
.success .card .card-body main a {
  width: 100%;
  font-size: 16px;
  font-size: medium;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: transparent;
}
.login-page .card {
  padding-left: 20px;
  padding-right: 20px;
  width: 500px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}
.login-page .card .form-header img {
  padding-bottom: 10px;
}
.login-page .card form button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.registrasi-page {
  margin: 4rem;
  min-height: 100vh;
}
.registrasi-page .stepper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}
.registrasi-page .stepper .stepper-item {
  display: flex;
  align-items: center;
  position: relative;
}
.registrasi-page .stepper .stepper-item .stepper-number {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f1f1f1;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
}
.registrasi-page .stepper .stepper-item .stepper-number.active {
  background-color: #007bff;
  color: #fff;
}
.registrasi-page .stepper .stepper-item .stepper-title {
  font-size: 16px;
  font-weight: bold;
}
.registrasi-page .stepper .stepper-line {
  width: 2px;
  height: 50px;
  margin-left: 17.5px;
  background-color: #ccc;
}

.registrasi1-page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registrasi1-page .form__container {
  margin-top: 4rem;
  border-radius: 2rem;
  padding: 1rem;
}
.registrasi1-page .form__container .body__container {
  display: flex;
}
.registrasi1-page .form__container .body__container .left__container {
  width: 35%;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  padding: 1.25rem 0;
  margin-right: 2rem;
  padding-right: 1.8rem;
}
.registrasi1-page .form__container .body__container .left__container .side__titles {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-right: 0.6rem; */
}
.registrasi1-page .form__container .body__container .left__container .side__titles .title__name {
  padding: 0.6rem 0.1rem;
  margin-bottom: 0.25rem;
}
.registrasi1-page .form__container .body__container .left__container .side__titles .title__name h3 {
  margin-bottom: 0.2rem;
  text-align: right;
  color: black;
  font-size: 1 rem;
  letter-spacing: 1px;
}
.registrasi1-page .form__container .body__container .left__container .progress__bar__container {
  padding-top: 0.6rem;
  /* height: 100%; */
}
.registrasi1-page .form__container .body__container .left__container .progress__bar__container ul .active {
  background-color: red;
}
.registrasi1-page .form__container .body__container .left__container .progress__bar__container ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background: aqua;
  padding: 0.5rem 0.6rem;
  margin-bottom: 1.2rem;
  border-radius: 50%;
  font-size: 1rem;
  color: #ffffff;
  margin-left: 2rem;
}
.registrasi1-page .form__container .body__container .left__container .progress__bar__container ul li ::before {
  content: "";
  width: 1px;
  height: 11vh;
  position: absolute;
  background-color: aqua;
}
.registrasi1-page .form__container .body__container .left__container .progress__bar__container ul .active::before {
  content: "";
  width: 1px;
  height: 11vh;
  position: absolute;
  background-color: aqua;
  /* z-index: -1; */
}
.registrasi1-page .form__container .body__container .right__container .card {
  padding-left: 20px;
  padding-right: 20px;
  width: 500px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}
.registrasi1-page .form__container .body__container .right__container .card .form-header img {
  padding-bottom: 10px;
}
.registrasi1-page .form__container .body__container .right__container .card fieldset {
  border: none;
}
.registrasi1-page .form__container .body__container .right__container .card .sub__title__container {
  padding-top: 5px;
  padding-bottom: 10px;
}
.registrasi1-page .form__container .button .nxt__btn {
  width: 100%;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* float: right; */
  /* width: 30%; */
  padding: 0.75rem 0;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 10px;
  background: aqua;
  color: black;
  /* border: none; */
  /* outline: none; */
  /* margin-left: 20em; */
  /* margin-top: 0.55em;     */
}
.registrasi1-page .form__container .button .nxt__btn .hover {
  transform: scale(1.03);
  background: #1cd68c;
  cursor: pointer;
}
.registrasi1-page .form__container .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* float: right; */
  margin: 0;
  padding: 0;
  /* justify-content:space-evenly; */
}
.registrasi1-page .form__container .buttons .nxt__btn {
  width: 50%;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* float: right; */
  /* width: 30%; */
  padding: 0.75rem 0;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 10px;
  background: aqua;
  color: black;
  /* border: none; */
  /* outline: none; */
  /* margin-left: 20em; */
  /* margin-top: 0.55em;     */
}
.registrasi1-page .form__container .buttons .nxt__btn .hover {
  transform: scale(1.03);
  background: #1cd68c;
  cursor: pointer;
}
.registrasi1-page .form__container .buttons .prev__btn {
  margin: 0;
  /* padding: 0.5rem 1.5rem 0.7rem 1.5rem  ; */
  /* background-color: #857373; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
  /* margin-right: 20px; */
  /* margin-left: 15rem; */
  cursor: pointer;
}

.registrasi-success {
  display: flex;
  margin: 0;
  padding: 0;
}
.registrasi-success .container .card {
  justify-content: center;
  margin-top: 25px;
}
.registrasi-success .container .card .card-body header img {
  align-items: start;
}
.registrasi-success .container .card .card-body main {
  text-align: center;
  align-items: center;
}
.registrasi-success .container .card .card-body main img {
  padding-bottom: 20px;
}
.registrasi-success .container .card .card-body main h2 {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 20px;
}
.registrasi-success .container .card .card-body main .btn {
  font-size: 16px;
  font-size: medium;
}

.create-project {
  padding-top: 50px;
  padding-top: 30px;
}
.create-project .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.create-project .popup-container {
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  text-align: center;
}
.create-project .popup-container h2 {
  margin-bottom: 20px;
  text-align: center;
}
.create-project .popup-container p {
  margin-bottom: 30px;
  text-align: center;
}
.create-project button[type=submit] {
  padding: 10px 20px;
  background-color: #144272;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.create-project .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.create-project h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: initial;
}
.create-project p {
  text-align: justify;
  font-size: 14px;
}
.create-project label {
  font-size: 16px;
}
.create-project .project-dana1 {
  padding-bottom: 50px;
}
.create-project .project-dana2 {
  padding-bottom: 50px;
}
.create-project .project-dana2 .col-6 {
  text-align: end;
}
.create-project .project-dana2 .col-6 a {
  height: 40px;
  width: 50%;
}
.create-project .project-dana2 .col-6 a p {
  text-align: center;
  font-size: 16px;
  font-weight: medium;
}

.detail-project {
  margin-top: 20px;
  margin-left: 20px;
}
.detail-project h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: initial;
}
.detail-project .col-md-6 .card {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}
.detail-project .col-md-6 .card .card-detail table td {
  width: 50%;
}
.detail-project .col-md-6 .card .card-detail table td p {
  text-align: justify;
  font-size: 14px;
}
.detail-project .col-md-6 .card .card-detail table td .btn-verification {
  background-color: rgb(255, 255, 44);
  border: 10px;
  padding: 5px 10px;
  cursor: default;
}
.detail-project .col-md-6 .card .card-detail table td .btn-verification span {
  color: black;
  font-weight: bold;
  font-size: 14px;
}
.detail-project .col-md-6 .card-up .progress {
  height: 30px;
  border-radius: 5px;
  background-color: #ddd;
  width: 100%;
}
.detail-project .col-md-6 .card-up .progress .progress-bar {
  background-color: #144272;
}
.detail-project .col-md-6 .card-down {
  padding-bottom: 20px;
  margin-top: 20px;
}
.detail-project .col-md-6 .card-down .head h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.detail-project .col-md-6 .card-down .caraousel-slide {
  margin-top: 10px;
}
.detail-project .col-md-6 .card-down a {
  height: 40px;
  background-color: #144272;
}
.detail-project .col-md-6 .card-down a p {
  text-align: center;
  font-size: 16px;
  font-weight: medium;
}

.list-project {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.list-project h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: initial;
}
.list-project .card {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 20px;
}
.list-project .card .card-body {
  border-radius: 10px;
}
.list-project .card .card-body th {
  background-color: #144272;
  text-align: justify;
  color: #fff;
}
.list-project .card .card-body td {
  text-align: justify;
  font-size: 14px;
}
.list-project .card .card-body td a {
  text-decoration: none;
  color: inherit;
}

.create-laporan-project {
  padding-top: 20px;
}
.create-laporan-project .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.create-laporan-project .popup-container {
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  text-align: center;
}
.create-laporan-project .popup-container h2 {
  margin-bottom: 20px;
  text-align: center;
}
.create-laporan-project .popup-container p {
  margin-bottom: 30px;
  text-align: center;
}
.create-laporan-project button[type=submit] {
  padding: 10px 20px;
  background-color: #144272;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.create-laporan-project button#cancel-button {
  background-color: red;
}
.create-laporan-project button#cancel-button:hover {
  background-color: darkred;
}
.create-laporan-project button#next-button {
  background-color: #007bff;
}
.create-laporan-project button#next-button:hover {
  background-color: #0069d9;
}
.create-laporan-project .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.create-laporan-project h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: initial;
}
.create-laporan-project p {
  text-align: justify;
  font-size: 14px;
}
.create-laporan-project label {
  font-size: 16px;
}

.detail-laporan-project {
  margin-top: 20px;
  margin-left: 20px;
}
.detail-laporan-project h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: initial;
}
.detail-laporan-project .col-md-6 .card {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}
.detail-laporan-project .col-md-6 .card .card-detail table td {
  width: 50%;
}
.detail-laporan-project .col-md-6 .card .card-detail table td p {
  text-align: justify;
  font-size: 14px;
}
.detail-laporan-project .col-md-6 .card .card-detail2 {
  border-radius: 10px;
}
.detail-laporan-project .col-md-6 .card .card-detail2 th {
  background-color: #144272;
  text-align: justify;
  color: #fff;
}
.detail-laporan-project .col-md-6 .card .card-detail2 td {
  text-align: justify;
  font-size: 14px;
}
.detail-laporan-project .col-md-6 .card .card-detail2 td a {
  text-decoration: none;
  color: inherit;
}

.list-laporan-project {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.list-laporan-project h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: initial;
}
.list-laporan-project .card {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 20px;
}
.list-laporan-project .card .card-body {
  border-radius: 10px;
}
.list-laporan-project .card .card-body th {
  background-color: #144272;
  text-align: justify;
  color: #fff;
}
.list-laporan-project .card .card-body td {
  text-align: justify;
  font-size: 14px;
}
.list-laporan-project .card .card-body td .btn-verification {
  background-color: #FC3B56;
  border: 10px;
  padding: 5px 10px;
  width: 100%;
  height: 30px;
  cursor: default;
}
.list-laporan-project .card .card-body td .btn-verification span {
  color: #000;
  font-weight: bold;
  font-size: 14px;
}
.list-laporan-project .card .card-body td a {
  text-decoration: none;
  color: inherit;
}

.create-return-dana {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.create-return-dana .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.create-return-dana .popup-container {
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  text-align: center;
}
.create-return-dana .popup-container h2 {
  margin-bottom: 20px;
  text-align: center;
}
.create-return-dana .popup-container p {
  margin-bottom: 30px;
  text-align: center;
}
.create-return-dana button[type=submit] {
  padding: 10px 20px;
  background-color: #144272;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.create-return-dana .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.create-return-dana h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: initial;
}
.create-return-dana p {
  text-align: justify;
  font-size: 14px;
}
.create-return-dana label {
  font-size: 16px;
}

.detail-dana-project {
  margin-top: 20px;
  margin-left: 20px;
}
.detail-dana-project h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: initial;
}
.detail-dana-project td {
  width: 40%;
}
.detail-dana-project .col-lg-6 .card {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}
.detail-dana-project .col-lg-6 .card .card-detail table td p {
  text-align: justify;
  font-size: 14px;
}
.detail-dana-project .col-lg-6 .card .card-up h3 {
  font-size: 18px;
  font-weight: bold;
}
.detail-dana-project .col-lg-6 .card .card-up table td p {
  text-align: justify;
  font-size: 14px;
}
.detail-dana-project .col-lg-6 .card .card-down h3 {
  font-size: 18px;
  font-weight: bold;
}
.detail-dana-project .col-lg-6 .card .card-down table td p {
  text-align: justify;
  font-size: 14px;
}
.detail-dana-project .col-lg-6 .card .card-down a {
  height: 40px;
  background-color: #144272;
}
.detail-dana-project .col-lg-6 .card .card-down a p {
  text-align: center;
  font-size: 16px;
  font-weight: medium;
}

.list-return-dana-project {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.list-return-dana-project h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: initial;
}
.list-return-dana-project .card {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 20px;
}
.list-return-dana-project .card .card-body {
  border-radius: 10px;
}
.list-return-dana-project .card .card-body th {
  background-color: #144272;
  text-align: justify;
  color: #fff;
}
.list-return-dana-project .card .card-body td {
  text-align: justify;
  font-size: 14px;
}
.list-return-dana-project .card .card-body td .btn-verification {
  background-color: greenyellow;
  border: 10px;
  padding: 5px 10px;
  width: 100%;
  height: 30px;
  cursor: default;
}
.list-return-dana-project .card .card-body td .btn-verification span {
  color: #000;
  font-weight: bold;
  font-size: 14px;
}
.list-return-dana-project .card .card-body td a {
  text-decoration: none;
  color: inherit;
}

.simulation-return-dana-project {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.simulation-return-dana-project .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.simulation-return-dana-project .popup-container {
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  text-align: center;
}
.simulation-return-dana-project .popup-container h2 {
  margin-bottom: 20px;
  text-align: center;
}
.simulation-return-dana-project .popup-container p {
  margin-bottom: 30px;
  text-align: center;
}
.simulation-return-dana-project button[type=submit] {
  padding: 10px 20px;
  background-color: #144272;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.simulation-return-dana-project .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.simulation-return-dana-project h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: initial;
}
.simulation-return-dana-project p {
  text-align: justify;
  font-size: 14px;
}
.simulation-return-dana-project label {
  font-size: 16px;
}/*# sourceMappingURL=app.css.map */